@model IList<UserVM>

<form asp-controller="Model.Users[i]Manager" method="post">
    <div>
        <div class="btn-toolbar">
            <div class="btn-group">
                <button class="btn btn-success" asp-action="Unblock" type="submit">Unblock</button>
                <button class="btn btn-warning" asp-action="Block" type="submit">Block</button>
                <button class="btn btn-danger" asp-action="Delete" type="submit">Delete</button>
            </div>
        </div>
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col"><input type="checkbox" /></th>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Registration</th>
                        <th scope="col">Last visit</th>
                        <th scope="col">Blocked</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                    <tr>
                        <td>
                            <div class="custom-control custom-checkbox">
                                <input type="number" asp-for="@Model[i].Id" value="@Model[i].Id" hidden />
                                <input type="checkbox" asp-for="@Model[i].Selected" />
                            </div>
                        </td>
                        <td>@Model[i].Id</td>
                        <td>@Model[i].FirstName @Model[i].LastName</td>
                        <td>@Model[i].Email</td>
                        <td>@Model[i].RegisterDate.ToString()</td>
                        <td>@Model[i].LastOnlineDate.ToShortTimeString()</td>
                        @if (Model[i].Blocked)
                        {
                            <td>Blocked</td>
                        }
                        else
                        {
                            <td>Unblocked</td>
                        }
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</form>